In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName("Python Spark SQL basic example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

24/03/26 21:16:19 WARN Utils: Your hostname, majid resolves to a loopback address: 127.0.1.1; using 192.168.0.230 instead (on interface wlp3s0)
24/03/26 21:16:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/majid/.local/lib/python3.10/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/26 21:16:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.csv("Data/appl_stock.csv", header=True, inferSchema=True)

In [3]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [6]:
df = spark.read.json("Data/people.json")
df.show()

+---+-------+
|age|   name|
+---+-------+
| 12|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [7]:
df = spark.read.parquet("Data/2019.snappy.parquet")

In [8]:
df.show(2)

+----------------+------------------+----------+------------+--------------------+--------------------+--------+---------+---------+
|SalesOrderNumber|SalesOrderLineItem| OrderDate|CustomerName|        EmailAddress|                Item|Quantity|UnitPrice|TaxAmount|
+----------------+------------------+----------+------------+--------------------+--------------------+--------+---------+---------+
|         SO43701|                 1|2019-07-01| Christy Zhu|christy12@adventu...|Mountain-100 Silv...|       1|  3399.99| 271.9992|
|         SO43704|                 1|2019-07-01|  Julio Ruiz|julio1@adventure-...|Mountain-100 Blac...|       1|  3374.99| 269.9992|
+----------------+------------------+----------+------------+--------------------+--------------------+--------+---------+---------+
only showing top 2 rows

In [9]:
df.dtypes  # return df column names and data types

[('SalesOrderNumber', 'string'),
 ('SalesOrderLineItem', 'string'),
 ('OrderDate', 'string'),
 ('CustomerName', 'string'),
 ('EmailAddress', 'string'),
 ('Item', 'string'),
 ('Quantity', 'string'),
 ('UnitPrice', 'string'),
 ('TaxAmount', 'string')]

In [10]:
# read with schema 
from pyspark.sql.types import StructField, StringType, IntegerType, StructType,TimestampType,FloatType

data_schema = StructType([ 
                StructField("SalesOrderNumber", StringType()),
                StructField("SalesOrderLineItem", IntegerType()),
                StructField("OrderDate",TimestampType()),
                StructField("CustomerName", StringType()),
                StructField("EmailAddress", StringType()),
                StructField("Item", StringType()),
                StructField("Quantity", IntegerType()),
                StructField("UnitPrice", FloatType()),
                StructField("TaxAmount", FloatType())])

df = spark.read.parquet("Data/2019.snappy.parquet", header=True, schema=data_schema , inferSchema=False)

In [11]:
df.printSchema()

root
 |-- SalesOrderNumber: string (nullable = true)
 |-- SalesOrderLineItem: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- TaxAmount: string (nullable = true)

In [12]:
display(df.head(2))

[Row(SalesOrderNumber='SO43701', SalesOrderLineItem='1', OrderDate='2019-07-01', CustomerName='Christy Zhu', EmailAddress='christy12@adventure-works.com', Item='Mountain-100 Silver, 44', Quantity='1', UnitPrice='3399.99', TaxAmount='271.9992'),
 Row(SalesOrderNumber='SO43704', SalesOrderLineItem='1', OrderDate='2019-07-01', CustomerName='Julio Ruiz', EmailAddress='julio1@adventure-works.com', Item='Mountain-100 Black, 48', Quantity='1', UnitPrice='3374.99', TaxAmount='269.9992')]

In [13]:
display(df.take(2))  # return first n rows

[Row(SalesOrderNumber='SO43701', SalesOrderLineItem='1', OrderDate='2019-07-01', CustomerName='Christy Zhu', EmailAddress='christy12@adventure-works.com', Item='Mountain-100 Silver, 44', Quantity='1', UnitPrice='3399.99', TaxAmount='271.9992'),
 Row(SalesOrderNumber='SO43704', SalesOrderLineItem='1', OrderDate='2019-07-01', CustomerName='Julio Ruiz', EmailAddress='julio1@adventure-works.com', Item='Mountain-100 Black, 48', Quantity='1', UnitPrice='3374.99', TaxAmount='269.9992')]

In [14]:
df.first()  # return first row

Row(SalesOrderNumber='SO43701', SalesOrderLineItem='1', OrderDate='2019-07-01', CustomerName='Christy Zhu', EmailAddress='christy12@adventure-works.com', Item='Mountain-100 Silver, 44', Quantity='1', UnitPrice='3399.99', TaxAmount='271.9992')

In [15]:
df.schema

StructType(List(StructField(SalesOrderNumber,StringType,true),StructField(SalesOrderLineItem,StringType,true),StructField(OrderDate,StringType,true),StructField(CustomerName,StringType,true),StructField(EmailAddress,StringType,true),StructField(Item,StringType,true),StructField(Quantity,StringType,true),StructField(UnitPrice,StringType,true),StructField(TaxAmount,StringType,true)))

In [16]:
df.describe().show() # compute summary statistics

+-------+----------------+------------------+----------+-------------+--------------------+--------------------+--------+-----------------+-----------------+
|summary|SalesOrderNumber|SalesOrderLineItem| OrderDate| CustomerName|        EmailAddress|                Item|Quantity|        UnitPrice|        TaxAmount|
+-------+----------------+------------------+----------+-------------+--------------------+--------------------+--------+-----------------+-----------------+
|  count|            1201|              1201|      1201|         1201|                1201|                1201|    1201|             1201|             1201|
|   mean|            null|               1.0|      null|         null|                null|                null|     1.0|3216.586355870128|257.3269134887618|
| stddev|            null|               0.0|      null|         null|                null|                null|     0.0|906.5658360521232|72.52525293462351|
|    min|         SO43697|                 1|2019-07-01|Aaron Collins|aaron11@adventure...|Mountain-100 Blac...|       1|          3374.99|         269.9992|
|    max|         SO45265|                 1|2019-12-31| Zachary Yang|zachary45@adventu...|    Road-650 Red, 62|       1|         699.0982|          55.9279|
+-------+----------------+------------------+----------+-------------+--------------------+--------------------+--------+-----------------+-----------------+

In [17]:
df.columns # return columns of df

['SalesOrderNumber',
 'SalesOrderLineItem',
 'OrderDate',
 'CustomerName',
 'EmailAddress',
 'Item',
 'Quantity',
 'UnitPrice',
 'TaxAmount']

In [18]:
df.count() # count number of rows

1201

In [19]:
df.distinct().count() # count distinct rows

1201

In [20]:
df.explain() # print the logical and physical plans

== Physical Plan ==
*(1) ColumnarToRow
+- FileScan parquet [SalesOrderNumber#154,SalesOrderLineItem#155,OrderDate#156,CustomerName#157,EmailAddress#158,Item#159,Quantity#160,UnitPrice#161,TaxAmount#162] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/home/majid/work/Tech_stack/Spark/Data/2019.snappy.parquet], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<SalesOrderNumber:string,SalesOrderLineItem:string,OrderDate:string,CustomerName:string,Ema...

In [21]:
df = df.dropDuplicates() # drop duplicates

In [22]:
df.count() # count number of rows

1201

In [23]:
df.select("CustomerName").show(5) #Show all entries in firstName column

+--------------+
|  CustomerName|
+--------------+
|  Damien Huang|
| Lucas Collins|
|Angel Mitchell|
| Claudia Zheng|
|   Emma Murphy|
+--------------+
only showing top 5 rows

In [24]:

df.select(df["CustomerName"],df["UnitPrice"],df["UnitPrice"]+ 1).show(5)#Show all entries in firstName and age, .show() add 1 to the entries of age

+--------------+---------+---------------+
|  CustomerName|UnitPrice|(UnitPrice + 1)|
+--------------+---------+---------------+
|  Damien Huang|  3578.27|        3579.27|
| Lucas Collins|  3578.27|        3579.27|
|Angel Mitchell|  3578.27|        3579.27|
| Claudia Zheng|  3578.27|        3579.27|
|   Emma Murphy|  3374.99|        3375.99|
+--------------+---------+---------------+
only showing top 5 rows

In [25]:
df.filter(df["UnitPrice"] > 1000).show(3) # filter by column value

+----------------+------------------+----------+--------------+--------------------+----------------+--------+---------+---------+
|SalesOrderNumber|SalesOrderLineItem| OrderDate|  CustomerName|        EmailAddress|            Item|Quantity|UnitPrice|TaxAmount|
+----------------+------------------+----------+--------------+--------------------+----------------+--------+---------+---------+
|         SO43772|                 1|2019-07-10|  Damien Huang|damien4@adventure...|Road-150 Red, 48|       1|  3578.27| 286.2616|
|         SO44027|                 1|2019-07-28| Lucas Collins|lucas12@adventure...|Road-150 Red, 62|       1|  3578.27| 286.2616|
|         SO44612|                 1|2019-10-08|Angel Mitchell|angel34@adventure...|Road-150 Red, 44|       1|  3578.27| 286.2616|
+----------------+------------------+----------+--------------+--------------------+----------------+--------+---------+---------+
only showing top 3 rows

In [26]:
from pyspark.sql import functions as F

# when 
df.select("CustomerName", #Show firstName and 0 or 1 depending on age >30              
			 F.when(df.UnitPrice > 1000, 1).otherwise(0)).show(4)

+--------------+----------------------------------------------+
|  CustomerName|CASE WHEN (UnitPrice > 1000) THEN 1 ELSE 0 END|
+--------------+----------------------------------------------+
|  Damien Huang|                                             1|
| Lucas Collins|                                             1|
|Angel Mitchell|                                             1|
| Claudia Zheng|                                             1|
+--------------+----------------------------------------------+
only showing top 4 rows

In [27]:


df[df.CustomerName.isin("Damien Huang","Gabrielle Long")].collect()  
#Show firstName if in the given options

[Row(SalesOrderNumber='SO43772', SalesOrderLineItem='1', OrderDate='2019-07-10', CustomerName='Damien Huang', EmailAddress='damien4@adventure-works.com', Item='Road-150 Red, 48', Quantity='1', UnitPrice='3578.27', TaxAmount='286.2616'),
 Row(SalesOrderNumber='SO44023', SalesOrderLineItem='1', OrderDate='2019-07-28', CustomerName='Gabrielle Long', EmailAddress='gabrielle32@adventure-works.com', Item='Mountain-100 Black, 42', Quantity='1', UnitPrice='3374.99', TaxAmount='269.9992')]

In [28]:
# like
df.select("CustomerName",df.CustomerName.like("Gabrielle%")).show(4)

+--------------+----------------------------+
|  CustomerName|CustomerName LIKE Gabrielle%|
+--------------+----------------------------+
|  Damien Huang|                       false|
| Lucas Collins|                       false|
|Angel Mitchell|                       false|
| Claudia Zheng|                       false|
+--------------+----------------------------+
only showing top 4 rows

In [29]:
 # startswith  endswith
df.select("CustomerName", #Show firstName, and TRUE if lastName starts with Sm 
          df.CustomerName.startswith("Damien")).head(2)

[Row(CustomerName='Damien Huang', startswith(CustomerName, Damien)=True),
 Row(CustomerName='Lucas Collins', startswith(CustomerName, Damien)=False)]

In [30]:
df.select(df.CustomerName.endswith("Huang")).head(2)

[Row(endswith(CustomerName, Huang)=True),
 Row(endswith(CustomerName, Huang)=False)]

In [31]:
# Substring
df.select(df.CustomerName.substr(1, 3)  \
          .alias("Name")).show(4) #Show firstName, and substring of lastName from 1 for 3 chars

+----+
|Name|
+----+
| Dam|
| Luc|
| Ang|
| Cla|
+----+
only showing top 4 rows

In [32]:
# Between
df.select(df.UnitPrice.between(500, 1000)).show(4)

+--------------------------------------------+
|((UnitPrice >= 500) AND (UnitPrice <= 1000))|
+--------------------------------------------+
|                                       false|
|                                       false|
|                                       false|
|                                       false|
+--------------------------------------------+
only showing top 4 rows

In [44]:
# Adding Columns
# extract first name from CustomerName
df = df.withColumn('FirstName', F.split(df.CustomerName, ' ')[0])

In [48]:
# rename column
df = df.withColumnRenamed('OrderDate', 'date')

In [49]:
df.columns

['SalesOrderNumber',
 'SalesOrderLineItem',
 'date',
 'CustomerName',
 'EmailAddress',
 'Item',
 'Quantity',
 'UnitPrice',
 'TaxAmount',
 'First_Name']

In [51]:
df.groupBy("Date").count().show(5) # group by column and count

+----------+-----+
|      Date|count|
+----------+-----+
|2019-08-23|    6|
|2019-08-08|    7|
|2019-08-22|    8|
|2019-08-31|   10|
|2019-09-29|    7|
+----------+-----+
only showing top 5 rows

In [52]:
# extract year from date in spark
from pyspark.sql.functions import year, month, dayofmonth

In [53]:
df.groupBy(month("Date")).count().show()

+-----------+-----+
|month(Date)|count|
+-----------+-----+
|         12|  188|
|          9|  161|
|          8|  159|
|          7|  289|
|         10|  174|
|         11|  230|
+-----------+-----+

In [54]:
df.sort("Date" ,ascending = False).head(2) # sort by column

[Row(SalesOrderNumber='SO45264', SalesOrderLineItem='1', date='2019-12-31', CustomerName='Melinda Navarro', EmailAddress='melinda5@adventure-works.com', Item='Mountain-100 Black, 42', Quantity='1', UnitPrice='3374.99', TaxAmount='269.9992', First_Name='Melinda'),
 Row(SalesOrderNumber='SO45260', SalesOrderLineItem='1', date='2019-12-31', CustomerName='Wyatt Griffin', EmailAddress='wyatt49@adventure-works.com', Item='Road-150 Red, 62', Quantity='1', UnitPrice='3578.27', TaxAmount='286.2616', First_Name='Wyatt')]

In [55]:
df.sort("Date" ,ascending = True).head(2) # sort by column

[Row(SalesOrderNumber='SO43702', SalesOrderLineItem='1', date='2019-07-01', CustomerName='Colin Anand', EmailAddress='colin45@adventure-works.com', Item='Road-150 Red, 44', Quantity='1', UnitPrice='3578.27', TaxAmount='286.2616', First_Name='Colin'),
 Row(SalesOrderNumber='SO43698', SalesOrderLineItem='1', date='2019-07-01', CustomerName='Rachael Martinez', EmailAddress='rachael16@adventure-works.com', Item='Mountain-100 Silver, 44', Quantity='1', UnitPrice='3399.99', TaxAmount='271.9992', First_Name='Rachael')]

In [56]:
df.orderBy(["Date","UnitPrice"],ascending=[0,1]).head(2) # sort by column

[Row(SalesOrderNumber='SO45264', SalesOrderLineItem='1', date='2019-12-31', CustomerName='Melinda Navarro', EmailAddress='melinda5@adventure-works.com', Item='Mountain-100 Black, 42', Quantity='1', UnitPrice='3374.99', TaxAmount='269.9992', First_Name='Melinda'),
 Row(SalesOrderNumber='SO45265', SalesOrderLineItem='1', date='2019-12-31', CustomerName='Victor Jimenez', EmailAddress='victor7@adventure-works.com', Item='Mountain-100 Black, 44', Quantity='1', UnitPrice='3374.99', TaxAmount='269.9992', First_Name='Victor')]

In [58]:
# addnew column 
df = df.withColumn("Year",year(df.date))

In [59]:
df = df.withColumn("Month",month(df.date))

In [61]:
# df.createGlobalTempView("people")
# df.createTempView("customer")
df.createOrReplaceTempView("sales")

df5 = spark.sql("SELECT * FROM sales").show(5)
# peopledf2 = spark.sql("SELECT * FROM global_temp.people")\   
# .show()

+----------------+------------------+----------+--------------+--------------------+--------------------+--------+---------+---------+----------+----+-----+
|SalesOrderNumber|SalesOrderLineItem|      date|  CustomerName|        EmailAddress|                Item|Quantity|UnitPrice|TaxAmount|First_Name|Year|Month|
+----------------+------------------+----------+--------------+--------------------+--------------------+--------+---------+---------+----------+----+-----+
|         SO43772|                 1|2019-07-10|  Damien Huang|damien4@adventure...|    Road-150 Red, 48|       1|  3578.27| 286.2616|    Damien|2019|    7|
|         SO44027|                 1|2019-07-28| Lucas Collins|lucas12@adventure...|    Road-150 Red, 62|       1|  3578.27| 286.2616|     Lucas|2019|    7|
|         SO44612|                 1|2019-10-08|Angel Mitchell|angel34@adventure...|    Road-150 Red, 44|       1|  3578.27| 286.2616|     Angel|2019|   10|
|         SO45019|                 1|2019-11-28| Claudia Zheng|claudia17@adventu...|    Road-150 Red, 52|       1|  3578.27| 286.2616|   Claudia|2019|   11|
|         SO44403|                 1|2019-09-15|   Emma Murphy|emma32@adventure-...|Mountain-100 Blac...|       1|  3374.99| 269.9992|      Emma|2019|    9|
+----------------+------------------+----------+--------------+--------------------+--------------------+--------+---------+---------+----------+----+-----+
only showing top 5 rows

In [62]:
from pyspark.sql.functions import sum,avg,max,min,count,mean,col
df.select( col("date").alias("capturedAt"), col("CustomerName"), col("UnitPrice") ).show(2)

+----------+-------------+---------+
|capturedAt| CustomerName|UnitPrice|
+----------+-------------+---------+
|2019-07-10| Damien Huang|  3578.27|
|2019-07-28|Lucas Collins|  3578.27|
+----------+-------------+---------+
only showing top 2 rows

In [63]:
from pyspark.sql.functions import unix_timestamp
tempA = (df
  .withColumnRenamed("date", "capturedAt")
  .select( col("*"), unix_timestamp( col("capturedAt"), "yyyy-MM-dd HH:mm:ss") )
)
tempA.printSchema()

root
 |-- SalesOrderNumber: string (nullable = true)
 |-- SalesOrderLineItem: string (nullable = true)
 |-- capturedAt: string (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- TaxAmount: string (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- unix_timestamp(capturedAt, yyyy-MM-dd HH:mm:ss): long (nullable = true)

In [64]:
tempB = (df
  .withColumnRenamed("date", "capturedAt")
  .select( col("*"), unix_timestamp( col("capturedAt"), "yyyy-MM-dd'T'HH:mm:ss").cast("timestamp").alias("capturedAt") ) )

tempB.printSchema()

root
 |-- SalesOrderNumber: string (nullable = true)
 |-- SalesOrderLineItem: string (nullable = true)
 |-- capturedAt: string (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- TaxAmount: string (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- capturedAt: timestamp (nullable = true)

In [66]:
df.show(4)

+----------------+------------------+----------+--------------+--------------------+----------------+--------+---------+---------+----------+----+-----+
|SalesOrderNumber|SalesOrderLineItem|      date|  CustomerName|        EmailAddress|            Item|Quantity|UnitPrice|TaxAmount|First_Name|Year|Month|
+----------------+------------------+----------+--------------+--------------------+----------------+--------+---------+---------+----------+----+-----+
|         SO43772|                 1|2019-07-10|  Damien Huang|damien4@adventure...|Road-150 Red, 48|       1|  3578.27| 286.2616|    Damien|2019|    7|
|         SO44027|                 1|2019-07-28| Lucas Collins|lucas12@adventure...|Road-150 Red, 62|       1|  3578.27| 286.2616|     Lucas|2019|    7|
|         SO44612|                 1|2019-10-08|Angel Mitchell|angel34@adventure...|Road-150 Red, 44|       1|  3578.27| 286.2616|     Angel|2019|   10|
|         SO45019|                 1|2019-11-28| Claudia Zheng|claudia17@adventu...|Road-150 Red, 52|       1|  3578.27| 286.2616|   Claudia|2019|   11|
+----------------+------------------+----------+--------------+--------------------+----------------+--------+---------+---------+----------+----+-----+
only showing top 4 rows

In [67]:
# write to parquet partitioned by year and month
spark.conf.set('spark.sql.sources.partitionOverwriteMode', 'dynamic')
df.write.partitionBy("Year","Month").csv("tmp/",mode="overwrite")

https://sparkbyexamples.com/pyspark/pyspark-partitionby-example/